@use "variables" as v;
@use "reset" as r;
@use "mixin" as m;


// header //

header {
    background-color: v.$backgroundHeaderColor;
    nav{
            display: flex;        
            justify-content: space-between;
            align-items: center;

            img{
                max-width: 150px;
            }
            li{
                display: inline-block;
                font-size: v.$fontSizedefault;
                a{
                    text-decoration: none;
                    color: v.$mainColor;
                }
            }
        }
}

// Variable global //
.container{
    margin: auto;
    max-width: 25rem;
    color: white;
}
.wrapper{
    padding: 1.5rem 1rem;
}
.formInput {
    width: 100%;
    height: 40px;
}
.submitButton{
    background: v.$buttonColor;
    color: white;
    font-weight: bold;
}
.block{
    background-color: v.$backgroundMainColor;
}

.wrapperImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    .title{
        background-color: v.$colorGreyfaded;
        font-size: v.$fontSizeTitle;
        hr{
            width: 100px;
            border: solid 2px orange;
        }
    }
}

#sectionWelcome .wrapperImg{
    background-image: url(../img/Lille-Seminaires.jpg);
}

#sectionSearch .wrapperImg{
    background-image: url(../img/Lille-Hall.jpg);
}

#sectionFacture {
    justify-content: center;
    align-items: center;
    background: #c2a182;
    height: 150px;
  }
  #sectionFacture p {
    margin: 0;
  }
  
.display-none {
    display: none;
}
  
.display-flex {
    display: flex;
}


@media screen and (min-width : 1199px) {
    .container {
        max-width: 95rem;
    }
    #sectionWelcome .wrappers, #sectionSearch .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


}

@media screen and (min-width : 575px) and (max-width: 1199px){
    .container {
        max-width: 55rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #sectionWelcome .wrappers, #sectionSearch .wrappers{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    
}
